<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Explore</title>
  </head>
  <body>
    <div class="header">
      <nav>
        <a href="{{ url_for('homepage') }}"
          ><img src="/Static/img/NeonGamelogo.png" alt="logo"
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('explore') }}">Explore</a></li>
            <li>
              <a href="{{ url_for('category') }}">Category</a>
              <div class="sub-menu">
                <ul>
                  <li><a href="">Action</a></li>
                  <li><a href="">Advanture</a></li>
                  <li><a href="">Simulation</a></li>
                </ul>
              </div>
            </li>
            <li><a href="{{ url_for('library') }}">Library</a></li>
            <li><a href="{{ url_for('cart') }}">Cart</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('users') }}">User</a></li>
            <input class="search" type="search" placeholder="Search..." />
          </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
      </nav>
    </div>

    <div class="search-bar">
      <form method="post" action="{{ url_for('explore') }}">
        <input type="text" name="search" required placeholder="search..." />
        <input type="submit" value="search" />
      </form>
    </div>

    <div class="body-explore">
      {% if games %}
      <ul>
        {% for game in games %}
        <li>
          <a
            href="{{ url_for('game_detail', game_id=game.game_id) }}"
            class="game-name"
          >
            <img
              src="{{ game.image_url }}"
              alt="{{ game.name }} image"
              class="game-image"
            />
            <span class="game-text">{{ game.name }}</span>
            <span class="game-price">{{ game.price }} AUD</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="wrapper">
        <img src="/Static/img/g1.jpeg" alt="game1" />
        <img src="/Static/img/g2.jpeg" alt="game2" />
        <img src="/Static/img/g3.jpeg" alt="game3" />
        <img src="/Static/img/g4.jpeg" alt="game4" />
        <img src="/Static/img/g5.jpeg" alt="game5" />
        <img src="/Static/img/g6.jpeg" alt="game6" />
      </div>
      {% endif %}
    </div>

    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }
      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
