<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>{{ game.name }} Details</title>
  </head>
  <body>
    <div class="header">
      <nav>
        <a href="{{ url_for('homepage') }}"
          ><img src="/Static/img/NeonGamelogo.png" alt="logo"
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('explore') }}">Explore</a></li>
            <li>
              <a href="{{ url_for('category') }}">Category</a>
              <div class="sub-menu">
                <ul>
                  <li><a href="">Action</a></li>
                  <li><a href="">Advanture</a></li>
                  <li><a href="">Simulation</a></li>
                </ul>
              </div>
            </li>
            <li><a href="{{ url_for('library') }}">Library</a></li>
            <li><a href="{{ url_for('cart') }}">Cart</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('users') }}">User</a></li>
            <input class="search" type="search" placeholder="Search..." />
          </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
      </nav>
    </div>

    <div class="bookdetail">
      <div class="bookcover">
        <img
          src="{{ game.image_url }}"
          alt="{{ game.name }} image"
          width="300"
        />
      </div>
      <div class="bookin4">
        <h2>{{ game.name }}</h2>
        <p>{{ game.details }}</p>
        <h4>{{ game.price }} AUD</h4>
        {% if 'loggedin' in session %}
        <form
          method="POST"
          action="{{ url_for('add_to_cart', game_id=game.game_id) }}"
        >
          <input type="submit" value="Add to Cart" />
        </form>
        {% else %}
        <p>
          Please <a href="{{ url_for('login') }}">login</a> to add items to your
          cart.
        </p>
        {% endif %}
      </div>
    </div>

    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }
      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
