<!-- game.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ game.name }} Details</title>
  </head>
  <body>
    <h1>{{ game.name }}</h1>
    <p>Category: {{ game.category }}</p>
    <p>Price: {{ game.price }}</p>
    <p>Details: {{ game.details }}</p>
    {% if 'loggedin' in session %}
    <form
      method="POST"
      action="{{ url_for('add_to_cart', game_id=game.game_id) }}"
    >
      <input type="submit" value="Add to Cart" />
    </form>
    {% else %}
    <p>
      Please <a href="{{ url_for('login') }}">login</a> to add items to your
      cart.
    </p>
    {% endif %}
  </body>
</html>
