<!-- library.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Library</title>
  </head>
  <body>
    <h1>User Library</h1>
    <p>Wallet Balance: ${{ wallet_balance }}</p>

    {% if items %}
    <ul>
      {% for item in items %}
      <li>
        <a href="{{ url_for('game_detail', game_id=item.game_id) }}"
          >{{ item.name }}</a
        >
        - ${{ item.price }}
        <form
          method="POST"
          action="{{ url_for('sell_game', game_id=item.game_id) }}"
          style="display: inline"
        >
          <input type="submit" value="Sell" />
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Your library is empty!</p>
    {% endif %}
  </body>
</html>
